// Background Colors
$BG_white:#ffffff;
$BG_BLUE:#0000FF;
$BG_SUCCESS:#34C759;
$BG_RED:red;
$BG_YELLOW:yellow;




// Text Colors
$TEXT_BLUE : #0000FF;
$TEXT_BLACK : #000000;
$TEXT_LIGHT_GREY: #D0D0D0;
$TEXT_WHITE:#FDFDFD;
$TEXT_GREY:#ABABAB;
$TEXT_RED:red;
$TEXT_LIGHT_BLACK:#464646;
$TEXT_YELLOW:yellow;


// border-color
$BORDER_LIGHT_GREY:#D0D0D0;
$BORDER_BLACK:#000000;
$GRID_LINE:#B7ABAB;
$BORDER_BLUE:#0000FF;
$BORDER_RED:red;


// Font Size
$Font_11:11px;
$Font_12:12px;
$FONT_14:14px;
$FONT_16:16px;
$FONT_18:18px;
$FONT_32:32px;
$FONT_72:72px;



//FONT-WEIGHTS
$FONT_WEIGHT_100:100;
$FONT_WEIGHT_200:200;
$FONT_WEIGHT_300:300;
$FONT_WEIGHT_400:400;
$FONT_WEIGHT_500:500;
$FONT_WEIGHT_600:600;
$FONT_WEIGHT_700:700;
$FONT_WEIGHT_800:800;
$FONT_WEIGHT_900:900;


// Font Family
$Verdana_Regular: 'verdana_regular';
$Tussilagobk_Regular:'tussilagobk_regular';
$Tussilagobk_Bold:'tussilagobk_bold';
